<main>
  <div class="row row-with-extra-space">
    <div class="col-md-6">
      <div class="input-group">
        <input #searchInput type="text" class="form-control" placeholder="Find course" (keyup)="filterCourses($event.target.value)">
        <span class="input-group-btn">
        <button class="btn btn-default primary-bg-color" type="button" (click)="filterCourses(searchInput.value)">Search</button>
      </span>
      </div>
    </div>
    <div class="col-md-6">
      <button class="btn btn-success pull-right">
        <i class="glyphicon glyphicon-plus"></i>
        Add Course
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ol class="list-group" *ngIf="courses.length > 0">
        <li class="list-group-item" *ngFor="let course of courses">
          <course-details [course]="course" (onDelete)="handleCourseDelete(course)" (onEdit)="handleCourseEdit(course)" ></course-details>
        </li>
      </ol>
      <p *ngIf="courses.length === 0" class="alert alert-info" role="alert">Nothing to show a this moment. Please try again or come back later.</p>
      <router-outlet></router-outlet>
    </div>
  </div>
</main>
