<main>
  <div class="row row-with-extra-space">
    <div class="col-md-6">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Find course" [(ngModel)]="search">
        <span class="input-group-btn">
        <button class="btn btn-default primary-bg-color" type="button" (click)="handlePageChanged(1)">
          <i class="glyphicon glyphicon-search"></i>
          <span>&nbsp;Search</span>
        </button>
      </span>
      </div>
    </div>
    <div class="col-md-6">
      <button class="btn btn-success pull-right" routerLink="add">
        <i class="glyphicon glyphicon-plus"></i>
        <span>&nbsp;Add Course</span>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" *ngIf="(courses | async)?.length > 0">
      <ol class="list-group">
        <li class="list-group-item extra-space-on-bottom" *ngFor="let course of courses | async | paginate: { itemsPerPage: pageSize, currentPage: page, totalItems: total }" [ngClass]="{highlight: course.topRated}">
          <course-details courseCategory [course]="course" (onDelete)="handleCourseDelete(course)" (onEdit)="handleCourseEdit(course)" ></course-details>
        </li>
      </ol>
      <pagination-controls (pageChange)="handlePageChanged($event)"></pagination-controls>
    </div>
    <div *ngIf="(courses | async)?.length === 0" class="col-md-12">
      <p class="alert alert-info" role="alert">Nothing to show a this moment. Please add new course or come back later.</p>
      <router-outlet></router-outlet>
    </div>
  </div>
</main>
