<header>
  <div class="row row-with-extra-space">
    <div class="col-md-1">
      <a href="#"><i class="large primary-color glyphicon glyphicon-book"></i></a>
    </div>
    <div class="col-md-5">
      <h2 class="primary-color">Angular learning</h2>
    </div>
    <!--<div class="col-md-6" *ngauthServicevice.isAuthenticated()">-->
    <div class="col-md-6" *ngIf="userInfo.name">
      <login-indicator class="pull-right" [userName]="userInfo.name || ''"></login-indicator>
    </div>
    <div class="col-md-12" *ngIf="userInfo.name">
      <breadcrumb></breadcrumb>
    </div>
  </div>
</header>
