<header>
  <div class="row row-with-extra-space">
    <div class="col-md-6">
      <a href="#" class="primary-color header-title">
        <span>
          <i class="primary-bg-color glyphicon glyphicon-book header-title-icon"></i>
          Angular learning
        </span>
      </a>
    </div>
    <div class="col-md-6" *ngIf="userInfo">
      <login-indicator class="pull-right" [userName]="userInfo.name || ''"></login-indicator>
    </div>
  </div>
  <div class="row row-with-extra-space">
    <div class="col-md-12" *ngIf="userInfo">
      <breadcrumb></breadcrumb>
    </div>
  </div>
</header>
